body
{
    margin: 0;
    padding: 0;
    font-family: 'Abyssinica SIL', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Manrope', sans-serif;
}

#head
{
    background-color: #0f0e17;
}


.navbar
{
    position: fixed;
}
.navbar h2
{
    color: #ff8906;
    font-weight: bold;
}

/* .navbar-nav
{
    float: right;
} */

.navbar-nav li a
{
    margin-left: 20px;
    color: #a7a9be;
}

.name 
{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.name h1
{
    color: #ff8906;
    font-weight: bold;
    font-size: 45px;
}

.name span
{
    color: white;
    font-size: 18px;
    font-weight: bolder;
}

.name a
{
    font-size: 23px;
    color: gray;
}

.resume-btn 
{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 70px;
}

.resume-btn .btn
{
    border: 1px solid #ff8906;
    padding: 10px 35px;
}


.resume-btn a button
{
    color: white;
    font-size: 17px;
}
.resume-btn a button:hover
{
    background-color: #ff8906;
    color: white;
}

.skills
{
    width: 100%;
    color: black;
    text-align: center;
}

.skills>div:nth-child(1)
{
    margin-top: 70px;
    margin-bottom: 30px;
}

.skills h1 
{
    font-weight: bold;
}

.skills>div:nth-child(2)
{
    width: 90%;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.skills img
{
    width: 100px;
}

#about 
{
    width: 100%;
    padding: 50px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    background-color: #0f0e17;
    color: white;
}

#about>div:nth-child(2)
{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


#about h2
{
    color: #ff8906;
    font-weight: bolder;
}

#about-section-info
{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#about p
{
    font-size: 18px;
}

#about-section-info>div{
    background-color: white;
    color: #0f0e17;
    padding: 50px 40px;
    border-radius: 20px;
}

#about-section-info>div span
{
    font-weight: bolder;
}

#projects
{
    width: 100%;
    margin: auto;
    padding: 50px;
    text-align: center;
}

#projects h2
{
    text-align: center;
    font-weight: bolder;
    color: black;
    margin-bottom: 20px;
}

#projects>div:nth-child(2)
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px
}

#projects>div:nth-child(2)>div
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    color: black;
}

#projects>div:nth-child(2) a
{
    color: black;
    font-size: 23px;
}

#projects div:nth-child(2)>div>img
{
    width: 100%;
}

#projects h3
{
    margin-top: 20px;
}


