.modal_welcome {
    background-color: white;
    z-index: 999;
    width: 40%;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 190px;
    left: 395px;
    height: 10rem;
    text-align: center;
    background-color:whitesmoke;
    color: black;
    border-radius: 4px;
}