.welcome_main__container {
    width: 100%;
    height: 20rem;
    margin: auto;
    color: white;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin-top: 170px;

    input {
        border: none;
        width: 50rem;
        height: 3rem;
        font-size: 18px;
        outline: none;
        caret-color: red;
    }

    .input_field_section {
        position: absolute;
        width: 100%;
        margin: auto;
    }

    input::placeholder{
        font-size: 18px;
        text-align: center;
        margin-right: 100px;
    }

    .start_btn{
        position: absolute;
        right: 365px;
        top: 6px;
        background-color: black;
        border: none;
        color: white;
        height: 3.2rem;
        cursor: pointer;
        font-size: 17px;
        font-weight: 300;
    }

    .start_btn:hover{
        background-color: black;
        height: 3.1rem;
        margin-top: 1px;
        opacity: 1;
        color: white;
        transition: margin-right 5s ease-in-out;
    }
}

.small-cards_section {
    width: 52%;
    margin: auto;
    padding: 0px;
    margin-top: 130px;
    display: flex;
}